In [16]:
import pandas as pd
# Load the dataset
data = pd.read_csv('bank_transactions.csv')

In [17]:
# Display the first few rows of the dataset
print(data.head())

  TransactionID CustomerID CustomerDOB CustGender CustLocation  \
0            T1   C5841053     10/1/94          F   JAMSHEDPUR
1            T2   C2142763      4/4/57          M      JHAJJAR
2            T3   C4417068    26/11/96          F       MUMBAI
3            T4   C5342380     14/9/73          F       MUMBAI
4            T5   C9031234     24/3/88          F  NAVI MUMBAI

   CustAccountBalance TransactionDate  TransactionTime  \
0            17819.05          2/8/16           143207
1             2270.69          2/8/16           141858
2            17874.44          2/8/16           142712
3           866503.21          2/8/16           142714
4             6714.43          2/8/16           181156

   TransactionAmount (INR)
0                     25.0
1                  27999.0
2                    459.0
3                   2060.0
4                   1762.5

In [18]:
#check shape of the data 
print(data.shape)

(1048567, 9)

In [19]:
# #Getting a statistical decription of our data 
print(data.describe())
# # Check for missing values
# # 0 indicates no missing data
# # number indicates number of missing values
print(data.isnull().sum())

       CustAccountBalance  TransactionTime  TransactionAmount (INR)
count        1.046198e+06     1.048567e+06             1.048567e+06
mean         1.154035e+05     1.570875e+05             1.574335e+03
std          8.464854e+05     5.126185e+04             6.574743e+03
min          0.000000e+00     0.000000e+00             0.000000e+00
25%          4.721760e+03     1.240300e+05             1.610000e+02
50%          1.679218e+04     1.642260e+05             4.590300e+02
75%          5.765736e+04     2.000100e+05             1.200000e+03
max          1.150355e+08     2.359590e+05             1.560035e+06
TransactionID                 0
CustomerID                    0
CustomerDOB                3397
CustGender                 1100
CustLocation                151
CustAccountBalance         2369
TransactionDate               0
TransactionTime               0
TransactionAmount (INR)       0
dtype: int64

In [20]:
# Handle missing values in CustomerDob by filling with a default value ('1900-01-01')
data['CustomerDOB'] = data['CustomerDOB'].fillna('1900-01-01')

In [21]:
# Handle missing values in CustLocation and CustGender by filling with 'Unknown'
data['CustLocation'] = data['CustLocation'].fillna('Unknown')
data['CustGender'] = data['CustGender'].fillna('Unknown')

In [22]:
# Handle missing values in CustAccountBalance by filling with 0
data['CustAccountBalance'] = data['CustAccountBalance'].fillna(0)

In [23]:
print(data.describe())
print(data.isnull().sum())

       CustAccountBalance  TransactionTime  TransactionAmount (INR)
count        1.048567e+06     1.048567e+06             1.048567e+06
mean         1.151428e+05     1.570875e+05             1.574335e+03
std          8.455464e+05     5.126185e+04             6.574743e+03
min          0.000000e+00     0.000000e+00             0.000000e+00
25%          4.664230e+03     1.240300e+05             1.610000e+02
50%          1.670949e+04     1.642260e+05             4.590300e+02
75%          5.747288e+04     2.000100e+05             1.200000e+03
max          1.150355e+08     2.359590e+05             1.560035e+06
TransactionID              0
CustomerID                 0
CustomerDOB                0
CustGender                 0
CustLocation               0
CustAccountBalance         0
TransactionDate            0
TransactionTime            0
TransactionAmount (INR)    0
dtype: int64

In [24]:
# Save the cleaned dataset to a new CSV file
data.to_csv("cleaned-data.csv", index=False)

In [25]:
# Display information about the cleaned dataset
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048567 entries, 0 to 1048566
Data columns (total 9 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   TransactionID            1048567 non-null  object
 1   CustomerID               1048567 non-null  object
 2   CustomerDOB              1048567 non-null  object
 3   CustGender               1048567 non-null  object
 4   CustLocation             1048567 non-null  object
 5   CustAccountBalance       1048567 non-null  float64
 6   TransactionDate          1048567 non-null  object
 7   TransactionTime          1048567 non-null  int64
 8   TransactionAmount (INR)  1048567 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 72.0+ MB
None

In [34]:
from sqlalchemy import create_engine
# Replace with your actual details
DATABASE_NAME = "postgres"
USER_NAME = "postgres"
PASSWORD = "12345"
PORT = "5432"
HOST = "localhost"

In [35]:
import psycopg2

In [36]:
# Create SQLAlchemy engine
engine = create_engine(
    f"postgresql://{USER_NAME}:{PASSWORD}@{HOST}:{PORT}/{DATABASE_NAME}"
)

In [37]:
# Define schema and create table in PostgreSQL database
with engine.connect() as connection:
    connection.execute("""
        CREATE TABLE IF NOT EXISTS BankTransactions (
            transaction_id SERIAL PRIMARY KEY,
            customer_id INT,
            transaction_date DATE,
            transaction_amount NUMERIC,
            transaction_type VARCHAR(255),
            account_id INT,
            category VARCHAR(255),
            CustomerDob DATE,
            CustLocation VARCHAR(255),
            CustGender VARCHAR(1),
            CustAccountBalance NUMERIC
        )
    """)

In [30]:
# Load data into PostgreSQL database
data.to_sql("bank_transactions", engine, if_exists="replace", index=False)

567

In [47]:
engine.dispose()